.flex-wrapper
{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
}
.r
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
}
h1
{
     align-self: flex-start;
     font-size: 26px;
     margin-left: 15px;
}
.notifications-wrapper
{
     height: 30%;
     width: 90%;
     overflow-y: scroll;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     padding-bottom: 10px;

}
.timetable-wrapper
{
     background-color: white;
     border-radius: 10px;
     width: 90%;
     height: 57%;
     margin-top: 20px;
     margin-bottom: 20px;
     max-width: 400px;
     overflow-y: scroll;
}
.timetable-wrapper::-webkit-scrollbar {
     display: none;
     width: 0 !important
}
.notifications-wrapper::-webkit-scrollbar
{
     display: none;
     width: 0 !important
}