.hm-house {
    width: 25px;
    height: 25px;
    margin-left: 42px;
}

.hm-dash {
    width: 3px;
    height: 20px;
    background-color: #B1B6BA;
    margin-left: 53px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 20%;
}

.hm-tt-container {
    padding-top: 10px;
}

.hm-tt-lesson {
    width: 100%;
    height: 100px;
}

.hm-tt-timeline {
    width: 70px;
    height: 100%;
    float: left;
}

.hm-tt-hour {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: #828587;
    width: 40px;
    text-align: right;
    margin: 0px;
    float: left;
}

.hm-tt-circle {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #207CE7;
    float: left;
    margin-left: 5px;
}

.hm-tt-dash {
    width: 3px;
    height: 10px;
    background-color: #207CE7;
    margin-right: 14px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 30%;
    float: right;
    position: relative;
    top: -15px;
}

.hm-tt-main {
    width: calc(100% - 70px - 10px);
    height: 90%;
    float: left;
    background-color: rgba(150, 202, 250, 0.22);
    border-radius: 5px;
    position: relative;
    top: -5px;
}

.hm-tt-info {
    width: 40%;
    height: 95%;
    color: #207CE7;
    box-sizing: border-box;
    padding: 7px;
    float: left;
}

.hm-tt-name {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hm-tt-teach {
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hm-tt-room {
    font-weight: 400;
    font-size: 9px;
    margin: 0;
}

.hm-tt-notif-box {
    width: 60%;
    height: 90%;
    float: right;
    border-radius: 5px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 3px;
    padding-right: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.hm-tt-notif-box::-webkit-scrollbar {
    display: none;
    width: 0 !important
}

.hm-tt-notif {
    position: relative;
    margin-bottom: 3px;
    left: 5px;
    width: 95%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.hm-tt-n-title {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    margin: 0;
    width: calc(100% - 30px);
    margin-left: 30px;
    position: relative;
    top: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.hm-tt-n-topic {
    font-size: 12px;
    margin: 0;
    color: rgba(76, 71, 71, 0.93);
    max-width: 180px;
    width: calc(100% - 30px);
    float: left;
    margin-left: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hm-tt-n-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: left;
}
